#background-image{
	height: 100vh;
	width: 100vw;
	background-image: url(media/logo_switchtocode.png);/*to set background-image:*/ 
	background-repeat: no-repeat;/*means no repating any image again*/
	/*background-position: center;*/
	background-size: contain;/*which means to all image part to see it*/
	/*contain;*/
	/*cover;*/
	background-attachment: fixed;/*which means to fixed the image not scrolling the image*/
	/*scroll;*/
}