html{
	font-size: 30px;
}
#div1{
	height: 4rem;
	/*75vh;*/
	/*200px;*/
	width: 6rem;
	/*100vw;*/
	/*200px;*/
	background-color:red;
	/*hsla();*/
	/*hsl()*/
	/*rgb()*/
	/*rgba(29,67,120,0.7);*/
	/*a=opacity*/
	/*red;*/
}
#div2{
	height: 50%;
	width: 50%;
	background-color: green;
}